{% extends 'base.html' %}
{% block title %}
About
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="alert alert-primary">
        <h3><i class="bi bi-chat-left-text"></i>A few words about us</h3>
        <p>We are Gay-pedic corporation. Our goal is to make new content and spread it all over the WEB </p>
        <p>We want our clients to feel free and happy.</p>
        <p>For these purposes we made this platform where you can read, make and discuss different articles.</p>
        <p>We hope You will enjoy it</p>
        <p>The more our happy - the more happy we are<i class="bi bi-emoji-wink"></i></p>
        <p>Thank you for attention</p>

    </div>
</div>
{% endblock %}