{% extends 'base.html' %}
{% block title %}
Main page
{% endblock %}
{% block content%}
<div class="container mt-5">
    <div class="alert alert-warning">
        <h1 class="site_title" align="center"> Main Page</h1>
        <h4>Welcome to our website!</h4>
        <p>Gay pedic corporation is warmly greeting you on our webservice <i class="bi bi-emoji-wink"></i></p>
        <p>We hope you will enjoy our website. We are doing our best to give you the best experience using our site!</p>
        <p>Now let's go to our services. On our site you can </p>
        <a href="/create_article" class="abilities">
            <div class="alert alert-info" id="ability">
                <h4>Create article</h4>
                <p><i>Here you can publish your thoughts on different topics and get the responses from our users<br>
                    We believe in you and know that your not the only one sharing your ideas. Post them and you'll find like-minded users<br>
                </i></p>
                <i>Go try it yourself</i>
            </div>

        </a><a href="/posts" class="abilities">
            <div class="alert alert-success" id="ability1">
                <h4>Read articles</h4>
                <p><i>Here you can get and read articles made by our users<br>
                    It can broaden your horizons, change your mind or even make fun<br>
                    You can leave your comments on the topic and discuss it with the author<br>
                </i></p>
                <i>Go read</i>
            </div>

        </a>
    </div>

</div>
{% endblock %}